<app-popup>
    <div class="CloseBtnPop">
        <button></button>
    </div>
    <h2 class="popTitle">Invite friends to #general</h2>

    <div class="boxInviteFriends">
        <div class="friend">
            <img class="friendImg" src="/assets/images/profile.jpg">
            <p class="friendName">Karim Idbouhouch</p>
            <a class="buttonInvite" *ngIf="!invited" (click)="onClickInvite()">Invite</a>
            <a class="buttonInvited" *ngIf="invited" (click)="onClickInvite()">Invited</a>
        </div>
    </div>

</app-popup>