<div class="page">
    <div class="container">
        <div class="header">
            <div class="logo">PING-PONG</div>
            <ul class="menu">
                <li><img src="../../assets/icons/play.svg" />Play</li>
                <li><img src="../../assets/icons/play.svg" />Message</li>
                <li><img src="../../assets/icons/play.svg" />Leaderboard</li>
            </ul>
            <div class="profile">Profile</div>
        </div>
        <div class="body">
            BODY !!!!!
        </div>
        <div class="footer">
            FOOTER !!!!!
        </div>
    </div>
</div>