
.page{
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    margin: 50px;
}

.header{
    display: flex;
    justify-content:space-between;
    color: #fff;
    align-items: center;
    width: 100%;
}

.logo{
    flex: 1 1 0%;
}

.profile{
    flex: 1 1 0%;
    text-align: end;
}

.menu{
    cursor: pointer;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 9px;
    padding: 0;
    margin: 0;
    flex: 2 2 auto;
    justify-content: center;
}

.menu li{
    display: flex;
    flex-direction: column;
    width: 108px;
    height: 90px;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border-radius: 50px 50px 0px 0px;
    font-size: 12px;
    font-weight: 700;
}

.menu li:hover{
    background-color: #103959;
    color: #D9ED92;
}


.menu li img{
    height: 24px;
}

.body{
    background-color: #103959;
    margin: 0;
    height: 100vw;
    border-radius: 40px;
    padding: 36px;
}

.title{
    font-size: 25px;
}
