.chat{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.grid1{
    border-right: 1px solid #184E77;
    padding: 20px;
    display: grid;
    gap: 10px;
}

.grid1 .toggle{
    color: #EEEEEE;
    background-color: #184E77;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 3px;
    gap: 6px;
}

.grid1 .toggle .button{
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    flex-basis: 50%;
    border-radius: 10px;
    display: flex;
    gap: 4px;
    height: 38px;
    justify-content: center;
    align-items: center;
}

.button:hover{
    background-color: #99D98C;
    color: #184E77;
}

.grid1 .toggle img{
    height: 18px;
    width: 18px;
}

.textbox {
    color: #D8D8D8;
    height: 32px;
    background: #184E77;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.textbox::placeholder {
    color: #7FABCC;
}

:-ms-input-placeholder {
    color: #7FABCC;
}

::-ms-input-placeholder {
    color: #7FABCC;
}

.friend-profile {
    position: relative;
    width: 50px;
    height: 50px;
}

.friend-profile img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.statusOnline{
    position: absolute;
    background-color: #6EDB3F;
    border: 3px solid #103959;
    width: 12px;
    height: 12px;  
    border-radius: 50%;
    bottom: 0;
    right: 0;  
}

.nb-messages{
    height: 16px;
    width: 16px;
    font-size: 11px;
    background-color: #FF5E5E;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.friend{
    display: grid;
    grid-template-columns: min-content auto min-content;
    gap: 6px;
    align-items: center;
    font-size: 15px;
    padding: 7px;
    cursor: pointer;
}

.friend:hover{
    background-color: #184E77;
    border-radius: 10px;
}

.friendsonline{
    display: grid;
    // overflow-y: auto;
    // gap: 4px;

    overflow-y:auto; 
    position:relative;
    height: 760px;
    // max-height: fit-content;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #1A759F;
}

.grid2{
    border-right: 1px solid #184E77;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

.header-chat{
    display: flex;
    border-bottom: 1px solid #184E77;
    padding: 25px;
    display: flex;
    gap: 7px;
}

.header-chat img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

.header-chat .name-status{
    font-size: 19px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-chat .status{
    font-size: 13px;
    font-weight: 600;
    color: #6EDB3F;
}
.conversation {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    height: 650px;
    flex-direction: column-reverse;
}

.conversation img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.receiver{
    display: flex;
    gap: 8px;
}

.sender{
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}

.receiver .infos {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 8px;
}

.receiver .time{
    color: #A5A5A5;
    font-size: 11px;
    font-weight: 600;
}

.receiver .msg {
    font-size: 13px;
    background-color: #1A759F;
    padding: 16px 13px;
    border-radius: 0px 20px 20px 20px;
}

.sender .infos {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    align-items: center;
    margin-bottom: 8px;
}

.sender .time{
    color: #A5A5A5;
    font-size: 11px;
    font-weight: 600;
}

.sender .msg {
    font-size: 13px;
    background-color: #1A759F;
    padding: 16px 13px;
    border-radius: 20px 0px 20px 20px;
}

.sendMessage{
    display: flex;
    gap: 5px;
    padding: 25px;
}

.message{
    width: 100%;
    height: 38px;
}

.buttonSend{
    display: flex;
    gap: 3px;
    align-items: center;
    font-size: 11px;
    font-weight: 600;
    color: #103959;
    cursor: pointer;
    border-radius: 8px;
    background: #99D98C;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
    transition: 0.3;
}

.buttonSend:hover{
    opacity: 70%; 
}

.grid3{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.profile{
    width: 166px;
    height: 166px;
    object-fit: cover;
    border-radius: 50%;
}

.buttonsProfile a {
    
}

.buttonsProfile img{
    background-color: #1E6091;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}
