<div class="page">
  <div class="container">
    <div class="body">
      <img class="titleLog" src="/assets/asset/logo.svg" />
      <div>
        <p class="discreptionPro">ft_transcendence is web project
          for learning purposes, it has almost all the basics
          concepts of Web Dev</p>
        <a class="btnLogin" [href]="ip + ':3000/login'">
          <img class="btnLogoImg" src="/assets/42LogoLogin.svg" alt="42" />
          <p class="lblLogin">login with 42</p>
        </a>
      </div>
      <img class="loginImg" src="/assets/login.svg" alt="Error" />
    </div>
    <div class="footer">
      <p>Copyright © 2023 ft_transcendence. All Rights Reserved</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>