<div class="grid2">
    <div class="header-chat" *ngIf="this.chatInfos?.type == 'DM'">
        <img src="/assets/img/profile.jpeg">
        <div class="name-status">
            <div class="name">Karim Idbouhouch</div>
            <div class="status">Online</div>
        </div>
    </div>
    <!-- {{this.chatInfos|json}} -->
    <!-- "id": 1, "type": "public", "chatRoomName": "DMS", "message": [], "owner": { "id": 98933, "username": "aabdou",
    "avatar": "https://cdn.intra.42.fr/users/a61724ae411ca4bd306799375cda04cb/aabdou.jpg" }, "admin": [ { "id": 98933,
    "username": "aabdou", "avatar": "https://cdn.intra.42.fr/users/a61724ae411ca4bd306799375cda04cb/aabdou.jpg" } ],
    "member": [ { "id": 98933, "username": "aabdou", "avatar":
    "https://cdn.intra.42.fr/users/a61724ae411ca4bd306799375cda04cb/aabdou.jpg" } ] } -->
    <div class="header-chat-channel" *ngIf="this.chatInfos?.type != 'DM'">
        <div class="icon-name-channel">
            <img src="/assets/icons/hashtag.svg">
            <div class="name-status">
                <div class="name">{{this.chatInfos?.chatRoomName}}</div>
                <div class="nb-members-channel">{{this.chatInfos?.member?.length}} Members</div>
            </div>
        </div>
        <div #dropDownChannelRef__ class="threedotschannel">
            <img (click)="onclickThreePointChannel()" #dropDownChannelRef_ src="/assets/icons/3points.svg">
            <ul *ngIf="dropDownChannel" @inOut #dropDownChannelRef class="dropdown-profile">
                <li routerLink="areyousure">Leave</li>
                <li routerLink="invite">Invite</li>
                <li [routerLink]="'/channelSetting/' + this.chatInfos?.id">Settings</li>
            </ul>
        </div>
    </div>

    <div class="conversation">
        <app-message *ngFor="let msg of (msgs$|async)" [value]="msg" />
    </div>
    <app-send-msg [chatId]="this.chatInfos?.id" />
</div>