<app-page-not-found *ngIf="(profile$| async)?.statusCode" />
<div class="body" *ngIf="!((profile$| async)?.statusCode)">
    <img class="coverProfile" src="/assets/cover.svg" alt="cover img" />
    <div class="insideProfile">
        <div class="infoProfileUser">
            <div class="statusNameDiv">
                <div *ngIf="(profile$ | async)?.avatar" class="profilePicDiv">
                    <img [src]="profileService.getUserAvatarPath((profile$ | async)?.avatar)" alt="Profile img" />
                </div>
                <div *ngIf="profile$| async">
                    <p class="userName">{{ (profile$| async)?.username }}</p>
                    {{ statusLoading((profile$| async)?.id) }}
                    <p *ngIf="status"
                        [ngStyle]="{'color': status == 'Offline' ? '#A5A5A5' : status == 'Online' ? '#6EDB3F' : '#FFA45E'}"
                        class="userStatus"> {{ status }}</p>
                </div>
            </div>
            <div *ngIf="(profile$| async)?.id != (auth$| async)?.sub" class="userAction">
                <button>Block <img src="/assets/block.svg" alt="1"></button>
                <button>Message <img src="/assets/MessageProfile.svg" alt="2"></button>
                <button *ngIf="type == 0" id="friendshipAdding" (click)="addFriend()">Add Friend<img
                        src="/assets/AddFriend.svg" alt="3"></button>
                <button *ngIf="type == 5" class="friendshipCanceling" (click)="cancelFriend()">Cancel Request<img
                        src="/assets/icons/checkfriend.svg" alt="3"></button>
                <button *ngIf="type == 3" class="friendshipCanceling" (click)="cancelFriend()">Unfriend<img
                        src="/assets/icons/checkfriend.svg" alt="3"></button>
                <div *ngIf="type == 4">
                    <button class="friendshipToRespond" (click)="hideIt()">Respond<img
                            src="/assets/icons/checkfriend.svg" alt="3">
                    </button>
                    <ul *ngIf="displayRespondingWay" class="friendshipResponding">
                        <li (click)="respondAcceptFriend()">Confirm Request</li>
                        <li (click)="cancelFriend()">Delete Request</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="userStatisticsProfile">
            <app-card-user-statistics *ngFor="let item of sameDataEveryDay;" [data]=item />
        </div>
        <div class="userProfileTitleHistory">
            <h1>History</h1>
            <app-user-history-raw *ngFor="let item of historyRaw;" [data]="item" />
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->