<!-- <router-outlet></router-outlet> -->

<router-outlet *ngIf="this.notLogged == true"></router-outlet>

<div class="page" *ngIf="this.notLogged == false">
    <div class="container">
        <div class="header">
            <div class="logo">PING-PONG</div>
            <ul class="menu">
                <li routerLink="game"><img src="/assets/icons/play.svg"> Play</li>
                <li routerLink="chat"><img src="/assets/icons/message.svg" />Message</li>
                <li routerLink="leaderboard"><img src="/assets/icons/leaderboard.svg" />Leaderboard</li>
            </ul>
            <div #dropDownContent_ class="profile">
                <a (click)="onclick()" class="dropdown-btn"><img #dropDownContent__
                        src="/assets/images/profile.jpg"
                         alt="Profile"></a>
                <ul #dropDownContent *ngIf="dropDown" @inOut class="dropdown-profile">
                    <li routerLink="">View my profile</li>
                    <li (click)="desplaySettings()">Settings</li>
                    <li>Logout</li>
                </ul>
            </div>
        </div>
        <div class="body">
            <router-outlet></router-outlet>
        </div>
        <div class="footer">
            <p>Copyright © 2023 ft_transcendence. All Rights Reserved</p>
        </div>
    </div>
    <!-- <app-settings *ngIf="activeSettings" (ChildEvent)="desplaySettings()" /> -->
</div>

