.body {
    position: relative;
    background-color: #103959;
    border-radius: 40px;
    padding: 36px;
    height: 900px;
    overflow-y: auto;
}

.cul {
    grid-area: first;
}

.cul2 {
    grid-area: second;
}

.cul3 {
    grid-area: third;
}

.cul4 {
    grid-area: forth;
}

.cul5 {
    grid-area: fifth;
}

.table {
    grid-template:
        "first second third forth fifth";
}