.body{
    position: relative;
    background-color: #103959;
    border-radius: 40px;
    padding: 36px;
    height: 900px;
    overflow-y: auto;
}

.table
{
    display: flex;
    flex-direction: row;
    // gap: 20%;
    justify-content: space-around;
}