<div class="grid3" *ngIf="!isRoom">
    <div class="profile">
        <img class="img-profile" src="/assets/img/profile.jpeg">
        <div class="buttonsProfile">
            <a class="btn">
                <div><img src="/assets/icons/block.svg" /></div>
                <p>Block</p>
            </a>
            <a class="btn">
                <div><img src="/assets/icons/viewprofile.svg" /></div>
                <p>View profile</p>
            </a>
            <a class="btn">
                <div><img src="/assets/icons/play.svg" /></div>
                <p>Play</p>
            </a>
        </div>
    </div>
</div>
<div class="grid3" *ngIf="isRoom">
    <div class="MembersChannel">
        <p class="NameRole">Operators</p>
        <div>
            <app-part-chat />
        </div>
        <p class="NameRole">Members</p>
        <app-part-chat />
    </div>
</div>