.CloseBtnPop {
    display: flex;
    justify-content: flex-end;
}

.CloseBtnPop button {
    border-style: none;
    background-color: #184E77;
    background-image: url('/assets/icons/closeImg.svg');
    height: 24.11px;
    width: 22px;
    background-size: 22px 24.11px;
}

.contentPopup {
    display: grid;
    gap: 15px;
}

.popTitle {
    color: #99D98C;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    gap: 7px;
    justify-content: flex-end;
    margin-top: 17px;

}

.cancel {
    cursor: pointer;
    background: #7FABCC;
    border-radius: 8px;
    padding: 10px 21px;
    color: #103959;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.createChannel {
    cursor: pointer;
    background: #99D98C;
    border-radius: 8px;
    padding: 10px 21px;
    color: #103959;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    transition: 0.3s;
}

.createChannel:hover,
.cancel:hover {
    opacity: 80%;
    transition: 0.3s;
}