<div class="page">
    <div class="container">
        <div class="header">
            <div class="logo">{{logo}}</div>
            <ul class="menu">
                <li><img src="/assets/icons/play.svg" />Play</li>
                <li><img src="/assets/icons/play.svg" />Message</li>
                <li><img src="/assets/icons/play.svg" />Leaderboard</li>
            </ul>
            <div class="profile">
                <button id="dropdown-btn"><img id="dropDownProfile" src="/assets/profilePic.svg" alt="Profile"></button>

            </div>

        </div>
        <div class="body">
            <!-- <div> -->
            <img class="coverProfile" src="/assets/cover.svg" alt="cover img" />
            <div class="insideProfile">
                <div class="infoProfileUser">
                    <div class="statusNameDiv">
                        <div class="profilePicDiv">
                            <img src="/assets/profilePic.svg" alt="Profile img" />
                        </div>
                        <div>
                            <p class="userName">User Name</p>
                            <p class="userStatus">In Game</p>
                        </div>
                    </div>
                    <div class="userAction">
                        <button>Block <img src="/assets/block.svg" alt="1"></button>
                        <button>Message <img src="/assets/MessageProfile.svg" alt="2"></button>
                        <button>Add Friend <img src="/assets/AddFriend.svg" alt="3"></button>
                    </div>
                </div>
                <div class="userStatisticsProfile">
                    <div class="cardUserStatistics">
                        <img src="/assets/RankIcon.svg" alt="" />
                        <div class="cardUserStatisticsInfos">
                            <div class="cardUserStatisticsTitle">Rank</div>
                            <div class="cardUserStatisticsValue">01</div>
                        </div>
                    </div>
                    <div class="cardUserStatistics">
                        <img src="/assets/RankIcon.svg" alt="">
                        <div class="cardUserStatisticsInfos">
                            <div class="cardUserStatisticsTitle">Rank</div>
                            <div class="cardUserStatisticsValue">01</div>
                        </div>
                    </div>
                    <div class="cardUserStatistics">
                        <img src="/assets/RankIcon.svg" alt="">
                        <div class="cardUserStatisticsInfos">
                            <div class="cardUserStatisticsTitle">Rank</div>
                            <div class="cardUserStatisticsValue">01</div>
                        </div>
                    </div>
                    <div class="cardUserStatistics">
                        <img src="/assets/RankIcon.svg" alt="">
                        <div class="cardUserStatisticsInfos">
                            <div class="cardUserStatisticsTitle">Rank</div>
                            <div class="cardUserStatisticsValue">01</div>
                        </div>
                    </div>
                </div>
                <div class="userProfileTitleHistory">
                    <h1>History</h1>
                    <div class="userProfileHistoryRaw">
                        <div class="userProfileHistoryPlayers">
                            <div>
                                <img src="/assets/profilePic.svg" alt="" />
                                <img src="/assets/theplayer.svg" alt="" />
                            </div>
                            <p>Kid-bouh VS Sakllam</p>
                        </div>
                        <div class="userProfileHistoryStatus">Win 🏆</div>
                        <div class="userProfileHistoryDate">Date</div>
                    </div>
                    <div class="userProfileHistoryRaw">
                        <div class="userProfileHistoryPlayers">
                            <div>
                                <img src="/assets/profilePic.svg" alt="" />
                                <img src="/assets/theplayer.svg" alt="" />
                            </div>
                            <p>Kid-bouh VS Sakllam</p>
                        </div>
                        <div class="userProfileHistoryStatus">Win 🏆</div>
                        <div class="userProfileHistoryDate">Date</div>
                    </div>
                    <div class="userProfileHistoryRaw">
                        <div class="userProfileHistoryPlayers">
                            <div>
                                <img src="/assets/profilePic.svg" alt="" />
                                <img src="/assets/theplayer.svg" alt="" />
                            </div>
                            <p>Kid-bouh VS Sakllam</p>
                        </div>
                        <div class="userProfileHistoryStatus">Win 🏆</div>
                        <div class="userProfileHistoryDate">Date</div>
                    </div>
                </div>
            </div>
            <!-- </div> -->

        </div>
        <div class="footer">
            <p>Copyright © 2023 ft_transcendence. All Rights Reserved</p>
        </div>
    </div>
</div>