<div *ngIf="user.role == filter">
    <div (click)="onclickDropDownClick()" #dropDownUserRef class="friend"
        [ngClass]="{'friend-selected' : dropDownUser}">
        <div class="friend-profile">
            <img [src]="avataring(user.userID.avatar)">
            <div class="statusCircle Online"></div>
            <!-- <div *ngIf="!item.status" class="statusCircle Offline"></div> -->
        </div>
        <p class="name-friend">{{user.userID.name}}</p>
        <img class="listbox-member" src="/assets/icons/3points.svg">
    </div>
    <ul *ngIf="dropDownUser" @inOut class="dropdown-user">
        <li [routerLink]="'/Profile/' + user.userID.id">View Profile</li>
        <li *ngIf="filter != 'member'">Kick</li> <!-- TODO -->
        <li *ngIf="filter != 'member'">Ban</li>
    </ul>
</div>