<div class="page">
    <div class="container">
        <div class="body">
            <h1 class="titleLog">Ping pong</h1>
            <div>
                <p class="discreptionPro">ft_transcendence is web project
                    for learning purposes, it has almost all the basics
                    concepts of Web Dev</p>
                <a class="btnLogin" href="http://localhost:3000/login">
                    <img class="btnLogoImg" src="/assets/42LogoLogin.svg" alt="42" />
                    <p class="lblLogin">login with 42</p>
                </a>
            </div>
            <img class="loginImg" src="/assets/login.svg" alt="Error" />
        </div>
        <div class="footer">
            <p>Copyright © 2023 ft_transcendence. All Rights Reserved</p>
        </div>
    </div>

    <div class="up">
        <div class="pop">
            <h2 class="popTitle">2F authentication</h2>
            <div class="groupingLI">
                <label class="twofactLbl" for="2FaInput">write down your token</label>
                <input id="twoFaInput" type="text" />

            </div>
            <div class="popUpBtn">
                <button class="cancelBtn" type="submit">Cancel</button>
                <button class="validationBtn" type="submit">Confirm</button>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>