h1 {
    font-size: 150px;
    font-weight: 700;
}

p {
    font-size: 44px;
    font-weight: 500;
}

div {
    color: #7FABCC;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}