<div class="up">
    <div class="pop">
        <div class="CloseBtnPop">

            <button></button>
        </div>
        <!-- <div> -->
        <h2 class="popTitle">Settings</h2>
        <label class="popTitleProfile">Profile</label>
        <!-- </div> -->
        <div class="groupingLI">
            <div class="profileImageSettingCentring">
                <img class="profileImageSetting" src="/assets/img/profile.jpeg" alt="" /> <!-- here-->
                <div class="profileImageStatus"></div>
            </div>
            <div class="profileUserInfoSetting">
                <input type="text" />
                <input type="text" />
            </div>
            <div class="profileTwoFactorSetting">
                <h2 class="popTitleProfile">Two-factor authentication</h2>
                <button class="validationBtn">Enable</button>
            </div>
            <div class="profileGameSettings">
                <h2 class="popTitleProfile">Game theme</h2>
                <div class="radioSettings">
                    <div class="radioSettingsChoice"></div>
                    <div class="radioSettingsChoice"></div>
                    <div class="radioSettingsChoice"></div>
                </div>
            </div>
        </div>
        <div class="popUpBtn">
            <button class="cancelBtn" type="submit">Cancel</button>
            <button class="validationBtn" type="submit">Update</button>
        </div>
    </div>
</div>